
@media screen and (max-width:768px){
  .hero-section h1{
    font-size: 2rem;

  }
  .hero-section p{
    font-size: 1rem;
  }
}
@media screen and (max-width:450px) {
  .theme-switch{
    --toggle-size:9px;
  }
    .profile-container{
        margin: 1rem auto;
        padding: 1rem;
    }
    .profile-container h2{
      margin: 0;
      margin-bottom: 1rem;
      font-size: 22px;
    }
    .profile-field strong{
      font-size: 14px;
      width: 80px;
    }
    .profile-field span{
      font-size: 14px;
    }
    .profile-buttons button{
      font-size: 12px;
      padding: 6px 12px;
    }
    .hero-section{
      padding: 3rem 1.5rem;
      clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    }
    .hero-section h1{
      font-size: 24px;
      font-weight: 600;
    }
    .hero-section p{
      font-size: 12px;
    }
    .hero-buttons button{
      padding: 6px 12px;
      font-size: 10px;
    }
        .hostel-grid{
        grid-template-columns: repeat(2,1fr);
        gap: 0.5rem;
    }
    .hostel-card{
        padding: 0.4rem;
    }
    .hostel-card h3{
      margin: 0;
        font-size: 10px;
    }
    .hostel-card p{
        font-size: 8px;
        margin: 0.1rem 0;

}
    .hostel-card .hostel-image{
      height: 90px;
    }
    .hostel-card p:nth-of-type(5),
    .hostel-card p:nth-of-type(6){
      display: none;
    }
    .filter-section .filter-button,.filter-section select{
      padding: 6px 12px;
      width: 20%;
      font-size: 11px;
    }
    .theme-switch{
      font-size: 9px;

    }
    .userNavbar input[type = 'text']{
      width: 100%;
      font-size: 10px;
    }
    .search-bar{
      width: 24vw;
      padding: 5px;
      gap: 2px;
      font-size: 10px;
      
    }
    .userNavbar button{
      padding: 6px 12px;
      font-size: 11px;
    }
    .all-hostels-container{
      padding: 0.5rem 1rem;
    }
    .filter-section{
      margin-bottom: 0.5rem;
    }
    .filter-section .modal-content{
      padding: 15px;
      gap: 6px;
    }
    .filter-section .modal-content h2{
      margin: 0;
      margin-bottom: 0.5rem;
      font-size: 16px;
    }
    .filter-section .modal-content input,
    .filter-section .modal-content select{
padding: 8px 12px;
    font-size: 10px;
    }
    .filter-section .modal-buttons{
      margin-top: 5px;
      gap: 5px;
    }
    .filter-section .modal-buttons button{
      font-size: 10px;
    }
    .hostel-details-container{
      padding: 0.7rem;
    }
    .hostel-details-container h2{
      margin: 0;
      margin-bottom: 1rem;
      font-size: 25px;
    }
    .hostel-details-container h2{
      margin-bottom: 0.5rem;
      font-size: 20px;
    }
    .add-review-btn{
      margin: 0;
      margin-right: 5px;
      padding: 6px 12px;
      font-size: 10px;
    }
    .hostelinfo{
      gap: 5px;
    padding: 8px;
    grid-template-columns: 85px 1fr;
    align-items: center;
    }
    .hostelinfo p{
      font-size: 10px;
    }
    .hostelinfo strong{
      height: 10px;
    }
    .owner-info{
      grid-template-columns: 85px 1fr;
    gap: 5px;
    font-size: 14px;
    padding: 8px;
    margin-top: 10px;
    align-items: center;
    }
    .owner-info h3{
      margin: 0;
      font-size: 12px;
    }
    .owner-info p{
      font-size: 10px;
    }
    .reviews{
      margin: 0;
      padding: 0;
    }
    .reviews h3{
      margin: 8px;
      font-size: 12px;
    }
    .reviews .review-card{
      margin-bottom: 8px;
      padding: 8px;
    }
    .reviews .review-card p:nth-of-type(1){
      font-size: 11px;
    }
    .reviews .review-card p:nth-of-type(2){
      font-size: 9px;
    }
    .reviews .review-card small{
      font-size: 7px;
    }
    .favorited-users{
      margin-top: 8px;
    padding: 8px;
    }
    .favorited-users h3{
      margin: 0;
      font-size: 12px;
    }
    .favorite-user-item{
      grid-template-columns: 50px 1fr;
    gap: 2px;
    font-size: 12px;
    padding: 5px 0;
    align-items: center;
    }
    .favorite-user-item p{
      font-size: 9px;
    }
    .hostel-images{
      width: 60%;
    }
    .delete-img-btn{
      font-size: 14px;
    }
    .slide-button{
      padding: 8px;
      font-size: 15px;
    }
    .closePreview{
      padding: 8px;
      font-size: 15px;
    }
    .image-modal .modal-content{
      padding: 12px;
    }
    .image-modal .modal-content input{
      padding: 8px;
      font-size: 10px;
    }
    .hostel-details-container .modal-buttons button{
      font-size: 10px;
    }
    .hostel-details-container .modal-content{
      padding: 12px;
    }
    .hostel-details-container .modal-content h3{
      margin: 8px 0;
      font-size: 16px;
    }
    .hostel-details-container .modal-buttons{
      margin: 0;
      gap: 5px;
      padding: 5px 0;
    }
    .hostel-details-container .modal-content input, .hostel-details-container .modal-content select, .hostel-details-container .modal-content textarea{
      padding: 6px 12px;
      font-size: 10px;
    }
    .hostel-card img{
      height: 90px;
    }
    .all-hostels-container h2{
          margin: 0;
          margin-bottom: 1rem;
    font-size: 20px;
    }
    .manage-hostel-container{
      margin: 0 auto;
      padding: 0 1rem;
    }
    .manage-hostel-container h2{
      padding: 10px;
      font-size: 20px;
    }
    .manage-hostel-container input, .manage-hostel-container textarea, .manage-hostel-container select{
      padding: 8px 12px;
      font-size: 10px;
    }
    .manage-hostel-container button{
      padding: 6px 12px;
      font-size: 10px;
    }
    .loginForm{
      padding: 1rem 1.5rem;
    }
    .loginForm input, .loginForm select{
      padding: 8px 12px;
    margin-bottom: 8px;
    font-size: 10px;
    }
    .loginForm button{
      padding: 6px 12px;
    }
    #login h2, #signup h2{
      font-size: 20px;
      margin: 0.5rem 0;
    }
    .loginForm span{
      margin-top: 0.5rem;
    font-size: 10px;
    }
    .pass_box .eye{
          font-size: 12px;
    padding: 8px;

    }
    .loginForm a{
      font-size: 12px;
      height: 20px;
    }
    .userContent{
      margin-top: 42px;
    }
    .left-nav img{
      width: 87px;
    }
}