.hamburger-menu{
    display: none;
}
.right-nav .close-menu{
    display: none;
}
.right-nav .menu-button{
    display: none;
}
@media screen and (max-width:768px) {
    #root .userNavbar{
        padding: 0.5rem 1.5rem;
    }
.userNavbar .navlinks{
    display: none;
}
.navbtn{
    display: none;
}
.right-nav{
    display: none;
}
.right-nav .menu-button{
    display: block;
    margin: 0;
    font-size: 25px;
}
.right-nav .close-menu{
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    display: block;
    margin: 0;
    font-size: 25px;
    z-index: 4;
}
.hamMenu{
    background: rgb(0,0,0,0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
}
.hamburger-menu{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 225px;
    background-color: var(--bg-color);
    border: 1px solid black;
    border-radius: 10px 0 0 10px;
    z-index: 100;
    animation: hamslider 0.3s ease-out;
}
.hamburger-exit {
  animation: hamrevslider 0.3s ease-in forwards;
}
@keyframes hamslider {
    0%{
        transform: translateX(100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes hamrevslider {
    0%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateX(100%);
        opacity: 0;
    }
}
.hamburger-menu a{
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 12px;
}
.hamburger-menu a svg{
    margin: 0px;
    width: 23px;
    height: 23px;
}
.hamburger-menu a .linkName{
    font-size: 14px;
}

.hamburger-menu .hambtn{
    
    margin: 10px;
}
}
@media screen and (max-width:450px){
    #root .userNavbar{
        padding: 8px;
    }
    #root .userNavbar .right-nav{
        gap: 5px;
    }

}